/* Copyright © 2021 Cai Hai. All Rights Reserved. */

/* 全局颜色管理 */

/* 
    小提示：
        因为深色模式的触发设计了媒体查询控制和按钮控制两种，
        所以关于深色模式的全局颜色管理的所有变量的值都需要同时写两遍，
        故而，您可以先点击下深色模式按钮，然后修改按钮控制下的深色模式，
        之后复制并覆盖媒体查询控制下的深色模式的全局颜色管理的所有变量的值。
*/

:root {
    /* 页面背景 */
    --body-background-color: #fff;
    /* 信息卡片背景 */
    --card-background-color: #fff;
    /* 信息卡片阴影 */
    --card-box-shadow: #d7d7d7;
    /* 信息卡片 - 深色模式按钮亮色模式图标 */
    --light-color: #ffe240;
    /* 信息卡片 - 深色模式按钮深色模式图标 */
    --dark-color: #00000000;
    /* 信息卡片 - 头像背景 */
    --avatar-background-color: #fff;
    /* 信息卡片 - 头像边框 */
    --avatar-border: #d4d4d4;
    /* 信息卡片 - 徽标背景 */
    --logo-background-color: #ffffff00;
    /* 信息卡片 - 个性签名文本 */
    --signature-color: #000;
    /* 信息卡片 - 信息卡片切换按钮分隔线 */
    --card-button-line-border: #000;
    /* 信息卡片 - 信息卡片切换按钮边框 */
    --card-button-box-i-border: #9b9b9b;
    /* 信息卡片 - 信息卡片切换按钮图标 */
    --card-button-box-i-color: #000;
    /* 信息卡片 - 信息卡片切换按钮背景 */
    --card-button-box-i-background-color: #fff;
    /* 信息卡片 - 常用站点滚动条背景 */
    --website-webkit-scrollbar-button: #cf2d2d00;
    /* 信息卡片 - 常用站点滚动条轨道 */
    --website-webkit-scrollbar-track: #e4e4e4;
    /* 信息卡片 - 常用站点滚动条滑块 */
    --website-webkit-scrollbar-thumb: #d4d4d4;
    /* 信息卡片 - 常用站点盒子背景 */
    --website-box-a-background-color: #f0f0f0;
    /* 信息卡片 - 常用站点盒子图标 */
    --website-box-a-color: #555;
    /* 信息卡片 - 常用站点盒子阴影 */
    --website-box-a-box-shadow: #ffffff6b;
    /* 信息卡片 - 常用站点盒子触摸阴影 */
    --website-box-a-hover-box-shadow: #5f22222c;
    /* 搜索卡片背景 */
    --card-search-background-color: #fff;
    /* 搜索卡片 - 时间与日期文本 */
    --time-date-color: #000;
    /* 搜索卡片 - 聚合搜索背景 */
    --search-box-form-background-color: #eee;
    /* 搜索卡片 - 聚合搜索边框 */
    --search-box-form-border: #eee;
    /* 搜索卡片 - 聚合搜索搜索框输入文本 */
    --search-box-form-wd-color: #555;
    /* 搜索卡片 - 聚合搜索搜索框背景文本 */
    --search-box-form-wd-webkit-input-placeholder-color: #000;
    /* 搜索卡片 - 聚合搜索搜索框边框 */
    --search-box-form-wd-border: #eee;
    /* 搜索卡片 - 聚合搜索搜索框背景 */
    --search-box-form-wd-focus-background-color: #e7e6e6;
    /* 搜索卡片 - 聚合搜索搜索框边框 */
    --search-box-form-wd-focus-border-color: #fff;
    /* 搜索卡片 - 聚合搜索搜索按钮图标 */
    --search-box-form-s-color: #5a5a5a;
    /* 搜索卡片 - 聚合搜索菜单列表背景 */
    --search-engine-background-color: #eee;
    /* 搜索卡片 - 聚合搜索菜单列表阴影 */
    --search-engine-box-shadow: #d8d7d7;
    /* 搜索卡片 - 聚合搜索菜单列表文本 */
    --search-engine-tit-color: #646464;
    /* 搜索卡片 - 聚合搜索菜单列表项背景 */
    --search-engine-list-li-background-color: #dddddd;
    /* 搜索卡片 - 聚合搜索菜单列表项文本 */
    --search-engine-list-li-color: #000;
    /* 搜索卡片 - 聚合搜索菜单列表滚动条轨道 */
    --search-engine-webkit-scrollbar-track: #e4e4e4;
    /* 搜索卡片 - 聚合搜索菜单列表滚动条滑块 */
    --search-engine-webkit-scrollbar-thumb: #d4d4d4;
    /* 搜索卡片 - 一言句子文本 */
    --hitokoto-box-color: #000;
    /* 搜索卡片 - 搜索卡片切换按钮背景 */
    --card-search-button-background-color: #fff;
    /* 搜索卡片 - 搜索卡片切换按钮图标 */
    --card-search-button-color: #575757;
    /* 页脚文本 */
    --footer-color: #000;
}

/* 媒体查询控制下的深色模式 */
@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: "dark";
    }

    :root:not([data-user-color-scheme]) {
    /* 页面背景 */
    --body-background-color: #333;
    /* 信息卡片背景 */
    --card-background-color: #353535;
    /* 信息卡片阴影 */
    --card-box-shadow: #6e6e6e;
    /* 信息卡片 - 深色模式按钮亮色模式图标 */
    --light-color: #00000000;
    /* 信息卡片 - 深色模式按钮深色模式图标 */
    --dark-color: #bacc44;
    /* 信息卡片 - 头像背景 */
    --avatar-background-color: #353535;
    /* 信息卡片 - 头像边框 */
    --avatar-border: #b4b4b4;
    /* 信息卡片 - 徽标背景 */
    --logo-background-color: #35353500;
    /* 信息卡片 - 个性签名文本 */
    --signature-color: #a7a7a7;
    /* 信息卡片 - 信息卡片切换按钮分隔线 */
    --card-button-line-border: #5f5f5f;
    /* 信息卡片 - 信息卡片切换按钮边框 */
    --card-button-box-i-border: #727272;
    /* 信息卡片 - 信息卡片切换按钮图标 */
    --card-button-box-i-color: #444;
    /* 信息卡片 - 信息卡片切换按钮背景 */
    --card-button-box-i-background-color: #5f5f5f;
    /* 信息卡片 - 常用站点滚动条背景 */
    --website-webkit-scrollbar-button: #cf2d2d00;
    /* 信息卡片 - 常用站点滚动条轨道 */
    --website-webkit-scrollbar-track: #494949;
    /* 信息卡片 - 常用站点滚动条滑块 */
    --website-webkit-scrollbar-thumb: #666;
    /* 信息卡片 - 常用站点盒子背景 */
    --website-box-a-background-color: #5f5f5f;
    /* 信息卡片 - 常用站点盒子图标 */
    --website-box-a-color: #444;
    /* 信息卡片 - 常用站点盒子阴影 */
    --website-box-a-box-shadow: #a5a5a56b;
    /* 信息卡片 - 常用站点盒子触摸阴影 */
    --website-box-a-hover-box-shadow: #5f22222c;
    /* 搜索卡片背景 */
    --card-search-background-color: #353535;
    /* 搜索卡片 - 时间与日期文本 */
    --time-date-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索背景 */
    --search-box-form-background-color: #5f5f5f;
    /* 搜索卡片 - 聚合搜索边框 */
    --search-box-form-border: #5f5f5f;
    /* 搜索卡片 - 聚合搜索搜索框输入文本 */
    --search-box-form-wd-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索搜索框背景文本 */
    --search-box-form-wd-webkit-input-placeholder-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索搜索框边框 */
    --search-box-form-wd-border: #5f5f5f;
    /* 搜索卡片 - 聚合搜索搜索框背景 */
    --search-box-form-wd-focus-background-color: #555;
    /* 搜索卡片 - 聚合搜索搜索框边框 */
    --search-box-form-wd-focus-border-color: #707070;
    /* 搜索卡片 - 聚合搜索搜索按钮图标 */
    --search-box-form-s-color: #272727;
    /* 搜索卡片 - 聚合搜索菜单列表背景 */
    --search-engine-background-color: #555;
    /* 搜索卡片 - 聚合搜索菜单列表阴影 */
    --search-engine-box-shadow: #6e6e6e;
    /* 搜索卡片 - 聚合搜索菜单列表文本 */
    --search-engine-tit-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索菜单列表项背景 */
    --search-engine-list-li-background-color: #5f5f5f;
    /* 搜索卡片 - 聚合搜索菜单列表项文本 */
    --search-engine-list-li-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索菜单列表滚动条轨道 */
    --search-engine-webkit-scrollbar-track: #494949;
    /* 搜索卡片 - 聚合搜索菜单列表滚动条滑块 */
    --search-engine-webkit-scrollbar-thumb: #666;
    /* 搜索卡片 - 一言句子文本 */
    --hitokoto-box-color: #a7a7a7;
    /* 搜索卡片 - 搜索卡片切换按钮背景 */
    --card-search-button-background-color: #353535;
    /* 搜索卡片 - 搜索卡片切换按钮图标 */
    --card-search-button-color: #696969;
    /* 页脚文本 */
    --footer-color: #a7a7a7;
}}

/* 按钮控制下的深色模式 */
[data-user-color-scheme="dark"] {
    /* 页面背景 */
    --body-background-color: #333;
    /* 信息卡片背景 */
    --card-background-color: #353535;
    /* 信息卡片阴影 */
    --card-box-shadow: #6e6e6e;
    /* 信息卡片 - 深色模式按钮亮色模式图标 */
    --light-color: #00000000;
    /* 信息卡片 - 深色模式按钮深色模式图标 */
    --dark-color: #bacc44;
    /* 信息卡片 - 头像背景 */
    --avatar-background-color: #353535;
    /* 信息卡片 - 头像边框 */
    --avatar-border: #b4b4b4;
    /* 信息卡片 - 徽标背景 */
    --logo-background-color: #35353500;
    /* 信息卡片 - 个性签名文本 */
    --signature-color: #a7a7a7;
    /* 信息卡片 - 信息卡片切换按钮分隔线 */
    --card-button-line-border: #5f5f5f;
    /* 信息卡片 - 信息卡片切换按钮边框 */
    --card-button-box-i-border: #727272;
    /* 信息卡片 - 信息卡片切换按钮图标 */
    --card-button-box-i-color: #444;
    /* 信息卡片 - 信息卡片切换按钮背景 */
    --card-button-box-i-background-color: #5f5f5f;
    /* 信息卡片 - 常用站点滚动条背景 */
    --website-webkit-scrollbar-button: #cf2d2d00;
    /* 信息卡片 - 常用站点滚动条轨道 */
    --website-webkit-scrollbar-track: #494949;
    /* 信息卡片 - 常用站点滚动条滑块 */
    --website-webkit-scrollbar-thumb: #666;
    /* 信息卡片 - 常用站点盒子背景 */
    --website-box-a-background-color: #5f5f5f;
    /* 信息卡片 - 常用站点盒子图标 */
    --website-box-a-color: #444;
    /* 信息卡片 - 常用站点盒子阴影 */
    --website-box-a-box-shadow: #a5a5a56b;
    /* 信息卡片 - 常用站点盒子触摸阴影 */
    --website-box-a-hover-box-shadow: #5f22222c;
    /* 搜索卡片背景 */
    --card-search-background-color: #353535;
    /* 搜索卡片 - 时间与日期文本 */
    --time-date-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索背景 */
    --search-box-form-background-color: #5f5f5f;
    /* 搜索卡片 - 聚合搜索边框 */
    --search-box-form-border: #5f5f5f;
    /* 搜索卡片 - 聚合搜索搜索框输入文本 */
    --search-box-form-wd-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索搜索框背景文本 */
    --search-box-form-wd-webkit-input-placeholder-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索搜索框边框 */
    --search-box-form-wd-border: #5f5f5f;
    /* 搜索卡片 - 聚合搜索搜索框背景 */
    --search-box-form-wd-focus-background-color: #555;
    /* 搜索卡片 - 聚合搜索搜索框边框 */
    --search-box-form-wd-focus-border-color: #707070;
    /* 搜索卡片 - 聚合搜索搜索按钮图标 */
    --search-box-form-s-color: #272727;
    /* 搜索卡片 - 聚合搜索菜单列表背景 */
    --search-engine-background-color: #555;
    /* 搜索卡片 - 聚合搜索菜单列表阴影 */
    --search-engine-box-shadow: #6e6e6e;
    /* 搜索卡片 - 聚合搜索菜单列表文本 */
    --search-engine-tit-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索菜单列表项背景 */
    --search-engine-list-li-background-color: #5f5f5f;
    /* 搜索卡片 - 聚合搜索菜单列表项文本 */
    --search-engine-list-li-color: #a7a7a7;
    /* 搜索卡片 - 聚合搜索菜单列表滚动条轨道 */
    --search-engine-webkit-scrollbar-track: #494949;
    /* 搜索卡片 - 聚合搜索菜单列表滚动条滑块 */
    --search-engine-webkit-scrollbar-thumb: #666;
    /* 搜索卡片 - 一言句子文本 */
    --hitokoto-box-color: #a7a7a7;
    /* 搜索卡片 - 搜索卡片切换按钮背景 */
    --card-search-button-background-color: #353535;
    /* 搜索卡片 - 搜索卡片切换按钮图标 */
    --card-search-button-color: #696969;
    /* 页脚文本 */
    --footer-color: #a7a7a7;
}